<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Criar nova Lista</title>
</head>

{{ $len := dec (len .Lists) }}

<body>
    <div class="container">
        <div class="messages mt-3">
            {{ if .Message.Error }}
            <div class="alert alert-danger" role="alert">
                <h2>Preencha todos os dados!</h2>
            </div>
            {{ else if .Message.Success }}
            <div class="alert alert-success" role="alert">
                <h2>Sua lista foi feita!</h2>
            </div>
            {{ end }}
        </div>

        <h1 class="text-center mt-3">Criação de Lista</h1>
        <form method="POST" {{ if .Message.Duplicate}} action="newList" {{ end }}>
            <div class="form-group">
                <input name="store" type="text" class="form-control" placeholder="Estabelecimento"
                    value="{{.List.Store}}" {{ if .Message.Duplicate}} disabled {{ end }}>
            </div>
            <div class="form-group">
                <textarea placeholder="Produtos" name="product" class="form-control" rows="3" {{ if .Message.Duplicate}}
                    disabled {{ end }}>{{.List.Product}}</textarea>
            </div>

            {{ if .Message.Duplicate }}
            <div class="alert alert-warning" role="alert">
                <h2>Já existe uma lista deste local. Você gostaria de cria-lá mesmo assim?</h2>
            </div>
            <button type="submit" class="btn btn-danger btn-lg btn-block">Sim, criar a lista</button>
            <a href="../create" type="button" class="btn btn-primary btn-lg btn-block">Não, cancelar criação</a>
            {{ else }}
            <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
            {{ end }}

        </form>

        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Mover</th>
                    <th scope="col">Status</th>
                    <th scope="col">Estabelecimento</th>
                    <th scope="col">Produtos</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                </tr>
            </thead>
            {{ if .Lists}}
            <tbody>
                {{ range $index, $element := .Lists }}
                <tr>
                    <td>
                        {{ if (gt $index 0)}}
                        <a href="/up/{{ $element.Id }}" >
                            <i class="fas fa-arrow-up" style="font-size:30px;"></i>
                        </a>
                        {{ end }}
                        {{ if (gt $len $index) }}
                        <a href="/down/{{ $element.Id }}" style="float: right;">
                            <i class="fas fa-arrow-down" style="font-size:30px;"></i>
                        </a>
                        {{ end }}
                    </td>
                    <td>
                        <a href="/check/{{ $element.Id }}" >
                            {{ if $element.Check }}
                            <i class="fas fa-check-square" style="font-size:30px;"></i>
                            {{ else }}
                            <i class="far fa-square" style="font-size:30px;"></i>
                            {{ end }}
                        </a>
                    </td>
                    <td>{{ $element.Store }}</td>
                    <td>{{ $element.Product }}</td>
                    <td><a href="/edit/{{ $element.Id }}" type="button" class="btn btn-primary btn-block">
                            <i class="fas fa-edit"></i></a></td>
                    <td><a href="/delete/{{ $element.Id }}" type="button" class="btn btn-danger btn-block"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
                {{ end }}
            {{ else }}
                <tr>
                    <td colspan="4" class="text-center">
                        <h3>Você não tem nenhuma lista cadastrada</h3>
                    </td>
                </tr>
            {{ end }}
            </tbody>
        </table>

    </div>
</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>
    $(document).ready(function () {
        $(".messages .alert").fadeToggle(5000)
    })
</script>

</html>